body {
    font-family: 'Poppins', sans-serif;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 1%;
}

h1 {
    font-size: 50px;
}

.sred {
    color: orange;
}

.flexible {
    display: flex;
    margin-bottom: 100px;
}

.halfwidth {
    width: 50%;
    padding-left: 5%;
}

.halfwidth img {
    width: 80%;
}

.buttoncolor {

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 500;
    color: white;

    padding: 10px 30px;
    border-radius: 10px;
}

.dreambig {
    display: flex;
}

.dreambig img {
    width: 80%;
}

.button-2 {
    text-decoration: none;
    padding: 10px 7px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 400;
}



.dreambig {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.xpitem {
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 5px;
    box-shadow: 10px 10px 40px;
    border-radius: 10px;

}

.experiences {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin: 0%;

}

#fullstack {
    border-left: 7px solid blue;
}

#baby {
    border-left: 7px solid orange;
}

footer p {
    text-align: center;
}